<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>

<body>
    <a href="/accueil">Accueil</a>
    <a href="/about">A propos</a>
    <a href="/contact">Contact</a>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid harum commodi autem voluptatibus, eum hic
        delectus facilis laborum fdvero dignissimos quibusdam quam aut fuga nisi nulla cumque tempora id perferendis!
    </p>
</body>

</html>